[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/taglist.vim"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-surround"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/CamelCaseMotion"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-airline"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
