[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/taglist.vim"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-surround"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat"]
	path = /home/alexander-zincke/dotfiles/vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
