[submodule "vim/dot_vim/pack/Mithrandir2k18/start/taglist.vim"]
	path = vim/dot_vim/pack/Mithrandir2k18/opt/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-surround"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/CamelCaseMotion"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-airline"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-fugitive"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/ctrlp.vim"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-commentary"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/dot_vim/syntax/roslaunch"]
	path = vim/dot_vim/syntax/roslaunch
	url = https://gist.github.com/5964014.git
[submodule "vim/dot_vim/pack/Mithrandir2k18/start/vim-irblack"]
	path = vim/dot_vim/pack/Mithrandir2k18/start/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack.git
